/*aqui le vas a dar un color de fondo y un color al borde*/
:root {
  --background: rgb(108, 124, 245);
  --dark: rgb(241, 234, 234);
}

/*estilo para toda la pagina*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* calcula las medidas del elemento*/
}

.contenedor {
  background: var(--background ); /* te crea una variable para el color de fondo que toma el color del :root que declaraste al principio, si quieres cambiar el color de muchos lugares solo es necesario cambiarlo en el root*/
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-liquid {
  position: relative;
  background: var(--background);
  border: 2.5rem solid var(--dark); /* esta variable tomara el color que hayas declarado en el root en la variable --dark*/
  width: 20rem;
  height: 20rem;
  outline: 0;
  overflow: hidden;
}

.box-liquid::before {
  content: url(oso.gif);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-liquid::after {
  content: "";
  position: absolute;
  background: var(--background);
  height: 200%;
  width: 200%;
  bottom: -50%;
  left: -50%;
  border-radius: 40%;
  animation: spin 10s ease-out infinite;
}

/*keyframes define los pasos que seguira un elemento durante la animacion en este caso en el plano cartesiano se movera en sentido de las Y*/
@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(-500deg);
  }
}
